# exclude any node_modules anywhere
**/node_modules/**

# exclude any Swiftt build dirs anywhere
**/.build/**

# exclude git metadata
**/.git/**

# exclude any node_modules anywhere
**/node_modules/**

# exclude any build dirs anywhere
**/*.xcuserdatads/**

YouSunkMyBattleship/

**/.swiftpm/**