name: CI

on:
  push:
  pull_request:

jobs:
  smoketest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
    
      - name: Run smoketest
        run: |
          set -e
          podman machine start
          chmod +x smoketest.sh
          npm install -g @usebruno/cli
          ./smoketest.sh
        
      - name: Install Swift version
        uses: swift-actions/setup-swift@v3
        
      - name: Verify Swift version
        run: swift --version
  
  build-and-test:
    runs-on: macos-latest
    steps:
      - name: Build and test YouSunkMyBattleshipCommon
        working-directory: YouSunkMyBattleshipCommon
        run: |
          set -e
          swift build
          swift test

      - name: Build and test YouSunkMyBattleshipBE
        working-directory: YouSunkMyBattleshipBE
        run: |
          set -e
          swift build
          swift test

      
